.blogs-news{
    padding: 50px 0;
    background-color: $bg-blogs-new;
    .blogs-news-wrapper{
        .group-name{
            text-align: center;
            margin-bottom: 15px;
            h2{
                @include text(2rem 'UTM BryantLG',1,uppercase);
                color: $color-title;
                display: inline-block;
                padding: 0 1rem;
                border-left: 3px solid #c4c2c2;
                border-right: 3px solid #c4c2c2;
                margin-bottom: 0;
            }
        }
        .group-summary{
            text-align: center;
            width: 70%;
            margin: auto;
            margin-bottom: 25px;
            p{
                @include text(14px 'UTM Caviar');
                color: $color-text-primary;
                margin-bottom: 0;
            }
        }
        .list-blogs-news{
            @include flex();
            margin-bottom: 25px;
            .post-item{
                background-color: $color-w;
                width: calc(100% / 4 - 21px);
                margin: 0 14px;
                @include transform(translateY(0));
                @include transition(transform .4s ease);
                &:first-child(){
                    margin-left: 0
                }
                &:last-child(){
                    margin-right:0
                }
                &:hover{
                    -webkit-transform: translateZ(50px) translateY(-12px);
                    transform: translateZ(50px) translateY(-12px);
                    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
                    @include transform(translateY(-2px));
                    @include transition(transform .4s ease);
                }
                .post-item-img{
                    @include size(100%,165px);
                    margin-bottom: 0;
                    img{
                        @include img-fit(100%,cover);
                        height: 100%;
                    }
                }
                .post-item-text{
                    padding: 25px 15px;
                    text-align: center;
                    .headline{
                        margin-bottom: 12px;
                        h3{
                            @include text(bold 1rem 'UTM BryantLG');
                            margin-bottom: 0;
                            a{
                                text-decoration: none;
                                color: $color-headline;
                            }
                        }
                    }
                    .line{
                        background-color: #e2e1e1;
                        border-radius: 5px;
                        display: block;
                        margin: auto;
                        @include size(40%,3px)
                    }
                    .summary{
                        margin-top: 12px;
                        p{
                            @include text(12px 'UTM Caviar');
                            color: $color-text;
                        }
                    }
                }
            }
        }
    }
}