:root{
    font-family: 'UTM Caviar', 'UTM Avo', sans-serif;
    font-size: 16px;
    line-height: 30px;
    background-color: #fdfcfb;
    color:#030303;
}
body{
    font-family: 'UTM Caviar', 'UTM Avo', sans-serif;
    font-size: 16px;
    line-height: 30px;
    background-color: #fdfcfb;
    color:#030303;
}
.wrapper{
    overflow: hidden;
}