@font-face {
    font-family: 'UTM Avo';
    src: url('../fonts/UTMAvo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTM Avo';
    src: url('../fonts/UTMAvoBold_Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'UTM Avo';
    src: url('../fonts/UTMAvoItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'UTM Avo';
    src: url('../fonts/UTMAvoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'UTM BryantLG_0';
    src: url('../fonts/UTMBryantLG_0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'UTM BryantLG';
    src: url('../fonts/UTMBryantLG.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: 'UTM Caviar';
    src: url('../fonts/UTMCaviar.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: 'UTM Neo Sans Intel';
    src: url('../fonts/UTMNeoSansIntel.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: 'UTM Neo Sans Intel';
    src: url('../fonts/UTMNeoSansIntelBold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face{
    font-family: 'UTM Neo Sans Intel';
    src: url('../fonts/UTMNeoSansIntel-BoldItalic.ttf') format('truetype');
    font-weight:bold;
    font-style:italic;
}
@font-face{
    font-family: 'UTM Neo Sans Intel';
    src: url('../fonts/UTMNeoSansIntel-Italic.ttf') format('truetype');
    font-weight:normal;
    font-style:italic;
}