$bg-header-top:#dddcdc;
$bg-copyright:#bab9b9;
$color-w:#ffffff;
$bg-product-gray:#edeceb;
$bg-product-primary:#fdfcfb;
$bg-blogs-new:#efebeb;
$color-title:#752d8f;
$color-headline:#90268f;
$bg-button:#5f0066;
$color-black:#000000;
$bg-footer:#d9d8d8;
$color-price:#c04848;
$color-text:#202020;
$color-border-product:#d6d6d6;
$color-social:#90918f;
$color-text-footer:#5f5d5b;
$color-border-footer:#aeadad;
$color-text-primary:#030303;
$color-social-top:#747473;
$color-logan:#fcfcfc;
$bg-breadcrumb:#e8ebec;
$hover:#f8def8;
